pandas
numpy
matplotlib
seaborn
jupyter
ipykernel
scikit-learn
pyarrow
pytest
xgboost
shap
networkx
torch
torch-geometric
fastapi
uvicorn[standard]
streamlit
pyvis
requests
python-dotenv
psycopg2-binary
